<!--search.ejs-->
<div class="container">
    <section class="hero is-white">
        <div class="hero-body">
            <p class="title">
                Investment & Stock Analysis Platform
            </p>
            <p class="subtitle">
                US Stock Market
            </p>
        </div>
    </section>
</div>

<div class="container">


    <div class="columns">

        <div class="column">

        </div>

        <div class="column">
            <label class="label">Exchange Code</label>
            <div class="control is-expanded">
                <input class="input" type="text" name="exchange" id="input">
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link" onclick="stockData(document.getElementById('input').value)">Submit</button>
                </div>
            </div>

        </div>
    </div>



</div>


<script>

    async function stockData(code) {

    }

    async function submitForm(formElem) {

        var response = await fetch(formElem.action, {
            method: formElem.method,
            body: new FormData(formElem),
        });

        if (response.ok) {
            var course = await response.json();
            alert("id: " + course.id + " created successfully. ");
            location.assign('/course/createCourse');
        } else {
            alert(response.statusText);
        }
    };
</script>