<!--search.ejs-->
<div class="container">
    <section class="hero is-white">
        <div class="hero-body">
            <p class="title">
                Investment & Stock Analysis Platform
            </p>
            <p class="subtitle">
                Stock Market
            </p>
        </div>
    </section>
</div>

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="columns card is-multiline" id="pdata"></div>
        </div>

        <div class="column is-one-third">
            <div class="field">
                <label class="label">Exchange Code</label>
                <div class="control is-expanded">
                    <input class="input" type="text" name="exchange" placeholder="US" value="US" id="input">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link"
                        onclick="stockData(document.getElementById('input').value)">Submit</button>
                </div>
            </div>
        </div>
    </div>



</div>


<script>

    let wSocket;

    async function stockData(code) {

        var mic_list = [];

        //get all related stock symbols
        var symbol_by_exchange = await fetch('https://finnhub.io/api/v1/stock/symbol?exchange=' + code + '&token=<%= my_api %>');

        if (symbol_by_exchange.ok) {

            var allSymbol = await symbol_by_exchange.json();

            console.log(allSymbol);

            if (allSymbol.length == 0) alert("Attention: No Content for this code. ");

            allSymbol.forEach(function (symbolName) {
                //identify the unique mic e.g. US stock exchange has 6 mics
                var existed = false;
                for (var i = 0; i < mic_list.length; i++) {
                    if (symbolName.mic == mic_list[i]) {
                        existed = true;
                        break;
                    } else {
                        existed = false;
                    }
                }
                if (!existed) {  //found company's mic code not in list, add it.
                    mic_list.push(symbolName.mic);
                }
            });

            var dynamicCode = '';

            mic_list.forEach(async function (mics) {
                dynamicCode += '<div class="column card is-one-third"><header class="card-header"><p class="card-header-title">MIC code: ' + mics + '</p></header><div id="stockByMic"><div class="card-content"><div class="content">';

                allSymbol.forEach(async function (symbolName) {

                    if (symbolName.mic == mics) {

                        dynamicCode += '<div class="columns"><div class="column"><a herf="#"><b>' + symbolName.symbol + '</b></a></div> <div class="column"> <label class="label" id="' + symbolName.symbol + '"></label></div></div>' + '<br>';
                        //call message from socket
                        //wSocket.onmessage = function (event) {
                        //   console.log(event);
                        //    if (event.type == 'message' && JSON.parse(event.data).data) {
                        //        let d = JSON.parse(event.data).data[0];
                        //        if (d) {
                        //            document.getElementById("priceStock").value = d.p;
                        //        }
                        //    }
                        //}
                    }
                });

                //'<label class="label" id="priceStock">' + d.p + '</label><br>';
                dynamicCode += '</div></div></div></div>';
            });

            document.querySelector('#pdata').innerHTML = dynamicCode;


            /*close socket
            if (wSocket) {
                wSocket.close();
            }

            //open socket
            wSocket = new WebSocket("wss://ws.finnhub.io?token=<%= my_api %>");

            allSymbol.forEach(async function (symbolName) {
                //subsribe the stock
                wSocket.onopen = function () {
                    wSocket.send(`{"type":"subscribe","symbol":"${symbolName.symbol}"}`);
                };
                //socket call message
                wSocket.onmessage = function (event) {
                    console.log(event);
                    if (event.type == 'message' && JSON.parse(event.data).data) {
                        let d = JSON.parse(event.data).data[0];
                        if (d) {
                            document.getElementById(symbolName.symbol).innerHTML = d.p;
                        }
                    }
                }
            });*/
        } else {
            alert(response.statusText);
        }  
    }
</script>