<!--search.ejs-->
<div class="container">
    <section class="hero is-white">
        <div class="hero-body">
            <p class="title">
                Investment & Stock Analysis Platform
            </p>
            <p class="subtitle">
                Stock Market
            </p>
        </div>
    </section>
</div>

<div class="container">
    <div class="columns">
        <div class="column">

        </div>

        <div class="column is-one-third">
            <div class="field">
                <label class="label">Exchange Code</label>
                <div class="control is-expanded">
                    <input class="input" type="text" name="exchange" placeholder="US" value="US" id="input">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link"
                        onclick="stockData(document.getElementById('input').value)">Submit</button>
                </div>
            </div>
        </div>
    </div>



</div>


<script>

    async function stockData(code) {
        

        data = new FormData();
        data.append("exchange", code);
        console.log(data);
        var response = await fetch("/stock/", {
            method: "POST",
            body: data,
        });

        if (response.ok) {
            var symbol = await response.json();
            console.log(symbol);
            location.assign('/stock/search');
        } else {
            alert(response.statusText);
        }
    }

</script>